body {
  background: #C7D8D3;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul.b{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #133337;
}

li.a {
  float: left;
}

li.a a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.a a:hover {
  background-color: #111;
}

h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: Georgia, serif;

}

h2 {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #133337;
  text-shadow: 2px 2px #99CCB3;
  font-family: Georgia, serif;
}

h3{
  font-size: 30px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color:#99CCB3;
  text-shadow: 2px 2px #133337;
  font-family: Georgia, serif;

}

#box {
background-image: linear-gradient(100deg, #99CCB3,#31736E);
padding-bottom: 40px;
}

p{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  font-family: Merriweather, serif;
  font-size: 20px;
}

ul.a{
  list-style-type: circle;
}

li.b {
  margin-left: 200px;
}


.center-button{
  text-align: center;
}

button{
  border: none;
  border-radius: 25px;
  padding: 10px;
  color: #31736E;

}

img{
  display: block;
  box-shadow: 0px 6px 20px #31736E;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

p.double{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  outline-style: double;
  outline-color: #31736E;
  width: 400px;
  padding: 20px;
  font-family: Merriweather, serif;
}

p.names{
  text-align: center;
  color: white;
}

body{
  background-color: #E0E6E2;
}
.
